.statusToggle {
    width: 28px;
    height: 28px;
    text-align: center;
    vertical-align: center;
    border-radius: 50%;
    border: none;
    background-color: #d1d5db;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
    outline: none;
    padding: 0;
}

.statusToggle.active {
    background-color: #10b981
}

.statusToggle.inactive {
    background-color: transparent;
    border: 2px solid lightslategray;
}

.statusToggle:hover {
    transform: scale(1.1);
}

.statusToggle:active {
    transform: scale(0.95);
}